/**/cmake-build-debug/
/**/cmake-build-release/
/tools/venv/
picopad-sdk/pico-sdk
venv
/**/venv
picopad-sdk/gb
sdcard/GAMEBOY
sdcard/GAMEBOY.BMP
sdcard/ORIGINAL.BMP
sdcard/ORIGINAL.TXT
sdcard/ORIGINAL